body {
  margin: 0 auto;
  width: 80%;
  font-family: "Roboto", sans-serif;
}

figure {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  padding: 10px;
}

figcaption {
  font-size: 20px;
}