:root {
  --header-bg-color: #243642;
  --additional-bg-color: lightgreen;
  --black-color: #000;
  --white: #fff;
  --size: 1rem;
  --gray-color: gray;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
}

header {
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

header #logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav {
  display: flex;
  gap: 20px;
}

nav .nav-menu {
  background-color: var(--white);
  height: 50vh;
  width: 60%;
  position: fixed;
  display: block;
  left: 0;
  top: 55px;
  padding-left: 10px;
  z-index: 1;
  left: -100%;
  transition: all ease-in-out .5s;
}

nav .nav-menu.show {
  left: 0;
}

nav .nav-menu a {
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding-right: 30px;
  padding-top: 40px;
  transition: all ease-in-out 0.5s;
}

.nav-menu a:hover {
  color: yellow;
}

.nav-menu a.active {
  text-decoration: underline;
}

/* .nav-menu a.active:visited {
  color: orange;
} */

.toggler {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.toggler img {
  width: 30px;
  height: 30px;
}

.toggler #toggler-icon {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 4px;
  background-color: #000;
  transition: all ease-out .4s;
}

#toggler-icon::before,
#toggler-icon::after {
  content: "";
  display: block;
  background-color: #000;
  height: 4px;
  width: 30px;
}

#toggler-icon::before {
  transform: translateY(-7px);
}

#toggler-icon::after {
  transform: translateY(4px);
}

#toggler-icon.open {
  background-color: transparent;
  transform: translateX(-10%);
  transition: all ease-out .4s;
}

#toggler-icon.open::before {
  transform: rotate(60deg);
}

#toggler-icon.open::after {
  transform: rotate(-60deg);
}

main {
  position: relative;
}

main div {
  background-image: url("../images/hero-img.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  position: relative;
}

main p {
  position: absolute;
  /* background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)); */
  color: var(--white);
  font-size: 2rem;
  font-family: "Winky Sans", sans-serif;
  top: 10vh;
  left: 10px;
  max-width: 350px;
  /* height: 56vh; */
  /* width: 400px; */

}

main a {
  position: absolute;
  left: 20px;
  bottom: 15vh;
  background-color: var(--additional-bg-color);
  border-radius: 30px;
  text-decoration: none;
  color: var(--black-color);
  padding: 10px 20px;
}

h1,
.container,
#members-card {
  clear: left;
  margin: 30px 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.first-section,
.sec-section,
.third-section {
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 300px;
}

.first-section h2,
.sec-section h2,
.third-section h2 {
  background-color: var(--gray-color);
  padding: 10px 10px;
  color: var(--black-color);
  text-align: start;
}

.sec-section .weather {
  display: flex;
  gap: 20px;
}

.sec-section .weather img {
  width: 100px;
  height: 100px;
}

.weather ul {
  list-style: none;
}

.third-section ul {
  list-style: none;
  padding: 10px 10px;
}

.third-section ul li {
  line-height: 30px;
}

article {
  text-align: center;
  color: #434242;
  margin: 50px 30px;
}

article h3 {
  font-weight: bold;
  padding: 10px 0;
}

article h4 {
  border-bottom: 2px solid #ffcc00;
}

.members-cards {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.card {
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--black-color);
}

.card .top-card {
  border-bottom: 2px solid var(--gray-color);
  text-align: center;
  padding: 10px 0;
}

.card .bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10PX;
  gap: 5px;
}

.card .bottom img {
  width: 50px;
  height: 50px;
}

.bottom p {
  font-size: 13px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  gap: 30px;
  height: 60vh;
  margin-top: 100px;
  padding: 30px 10px;
  color: var(--white);
}

footer img {
  width: 50px;
  height: 50px;
}

footer div:first-child {
  width: 80%;
}

footer div:last-child {
  width: 80%;
}

@media screen and (min-width: 991px) {
  nav .nav-menu {
    display: flex;
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    position: relative;
  }

  nav .nav-menu a {
    padding-top: 0;
    color: #000;
  }

  .toggler #toggler-icon {
    display: none;
  }

  main p {
    font-size: 3rem;
    left: 50px;
    width: 650px;
    max-width: 650px;
    padding: 10px 20px;
  }

  main a {
    left: 60px;
    bottom: 8vh;
    padding: 10px 20px;
  }

  .container,
  .members-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .first-section {
    width: 500px;
  }

  footer {
    justify-content: space-around;
    flex-direction: row;
    height: 30vh;
    gap: 0;
  }

  footer div:first-child {
    width: 30%;
  }

  footer div:last-child {
    width: 30%;
  }
}